{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% comment %} <form action="" method="POST" class="">
    {% csrf_token %}
    {{ form.as_p }}
    <p>
        <button type="submit" class="btn btn-danger"> Submit </button>
    </p>
</form> {% endcomment %}

<div class="content-section container col-lg-6">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Join today</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-info">Sign Up</button>
        </div>
        <div class="border-top mt-3">
            <small class="text-muted">
                Already have an account? <a href="#" class="ml-2">Sign In</a>
            </small>
        </div>
    </form>
</div>
{% endblock content %}
